html, body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    color: white;
    border-radius: 12px;
    padding: 10px 24px;
    background-color: grey;
    border: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 0.5%;
}

button:hover {
    background-color: forestgreen;
}

.active {
    background-color: forestgreen;
}

.storyboard {
    text-align: center;
    padding: 0.5%;
    height: auto;
}


h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}

h3 {
    color: white;
}

#prototype-btns {
    background-color: black;
    padding-bottom: 3em;
    padding-top: 1em;
}